{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon"href="{% static 'favicon.ico' %}">
    <link href="{% static 'base.css' %}" rel="stylesheet" type="text/css">

    {% block head %}{% endblock %}
  </head>

  <body>
  <main class="main-container">

    {% block content %} {% endblock content %}

    <footer class="site-footer">
      <div>
        <i>
            Contact: prakt (at) astro.physik.uni-potsdam.de
        </i>
      </div>
      <div>
        <i>
            Source code: <a href="https://github.com/OST-Observatory/weather_station_website">www.github.com/OST-Observatory/weather_station_website</a>
        </i>

      </div>
    </footer>

    <!--    Cookie banner to comply with EU cookie law -->
    <!--    https://github.com/dobarkod/cookie-banner/ -->
    <script type="text/javascript" id="cookiebanner"
        src="https://cdn.jsdelivr.net/gh/dobarkod/cookie-banner@1.2.2/dist/cookiebanner.min.js"
        data-message="We use cookies to improve your browsing experience."
        moreinfo="https://en.wikipedia.org/wiki/HTTP_cookie">
    </script>
  </main>
  </body>
</html>
